HOST=0.0.0.0
PORT=3030
TV_CHANNEL=overallTop10
TV_FORMAT=best[height<=480]
MPV_SOCKET=/tmp/mpv.sock
YTDLP_BIN=yt-dlp
MPV_BIN=mpv
ENABLE_MEDIA_KEYS=0

# Optional (Pi only)
MPV_AUDIO_DEVICE=
MPV_DRM_CONNECTOR=
