HOST=0.0.0.0
PORT=3030
TV_CHANNEL=spotify
TV_FORMAT=best[height<=480]
MPV_SOCKET=/tmp/mpv.sock
YTDLP_BIN=yt-dlp
MPV_BIN=mpv
ENABLE_MEDIA_KEYS=0

# Spotify playlist URL (used when TV_CHANNEL=spotify)
SPOTIFY_PLAYLIST_URL=https://open.spotify.com/playlist/1o6pxgjA5affQmUdRSIVuh
SPOTIFY_REFRESH_MINUTES=15

# Optional (Pi only)
MPV_AUDIO_DEVICE=
MPV_DRM_CONNECTOR=
